.Contenido{
    background-color: red;
    background-position: top;
    background-size: cover;
    background-repeat:no-repeat;
    height: calc(100vh - 75px);
    padding-top: 75px;
    max-width: 100vw;
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}

.Menu{
    margin-right: 10%;
}