@import "../../general.scss";

.Nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 0 50px;
    background: #fff;
    position: fixed;
    width: calc(100vw - 100px);
    height: 75px;
    z-index: 50;
}

//Pantallas grandes
@media only screen and (min-width:1200px) {
    .Nav {
        .Item {
            &-icon {
                display: none;
            }

            &-menu {
                display: flex;
            }
        }
    }
}

//Pantallas medianas
@media only screen and (min-width:992px) and (max-width:1200px) {
    .Nav {
        .Item {
            &-icon {
                display: none;
            }

            &-menu {
                display: flex;
            }
        }
    }
}

//Pantallas pequeñas
@media only screen and (min-width:768px) and (max-width:992px) {
    .Nav {
        .Item {
            &-icon {
                display: flex;
            }

            &-menu {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-content: stretch;
                align-items: flex-end;
                position: absolute;
                background-color: white;
                left: 0;
                top: 75px;
                box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);

                &-link {
                    border-top: solid 2px $grisClaro;
                    width: 100vw;
                    padding: 20px 0;

                }
            }
        }
    }
}

//Pantallas extra pequeñas
@media only screen and (max-width:768px) {
    .Nav {
        .Item {
            &-icon {
                display: flex;
            }

            &-menu {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-content: stretch;
                align-items: flex-end;
                position: absolute;
                background-color: white;
                left: 0;
                top: 75px;
                box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);

                &-link {
                    border-top: solid 2px $grisClaro;
                    width: 100vw;
                    padding: 20px 0;

                }
            }
        }
    }
}