@import "../../../general.scss";

.Item {
    &-icon {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        color: $gris;
        opacity: .6;
        transition: all .4s;
        cursor: pointer;

        svg{
            font-size: 25px;
        }        

        p{
            font-weight: bold;
            letter-spacing: 2px;
            margin:0 15px;
        }
    }

    &-icon:hover {
        opacity: 1;

    }
    &-menu {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: stretch;
        align-items: flex-start;

        &-link {
            padding: 25px 0;
            transition: all .4s;
            cursor: pointer;
            text-decoration: none;
            border-bottom: solid 4px transparent;
            opacity: .6;
            text-align: center;

            div {
                margin: 0 10px;
                font-family: $nunito;
                font-weight: bold;
                color: $gris;
                text-align: center;
            }
        }

        &-link:hover {
            background: $grisClaro;
            border-bottom: solid 4px $naranja;
            opacity: 1;

           
        }
    }

  }