@import '../../../general.scss';

.Banner {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: calc(100vh - 75px);
    padding-top: 75px;
    background: white;

    &-fondo {
        width: 90vw;
        max-width: 1255px;
        
    }
        &-icon {
            font-size: 20px;
            color: $gris;
            opacity: .5;
            transition: all .4s;
            position: absolute;
            bottom: 25px;
        }

        &-icon:hover {
            opacity: 1;
        }
    }
