@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');

$nunito: 'Nunito', sans-serif;
$lato: 'Lato', sans-serif;

$gris: #727272;
$grisClaro: #EAEAEA;
$naranja:#F4911E;
.Titulo {
    background: linear-gradient(to right, #F77800, #FBC73B);
    height: 300px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
    box-sizing: border-box;
    h1 {
        font-family: $lato;
        color: #fff;
        font-weight: 700;
        font-size: 60px;
        margin: 15px;
        margin-top: 20px;
    }

    p {
        color: #fff;
        font-family: $nunito;
        font-weight: 600;
        margin: 0;
    }
}
