.Informacion{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    height: 60vh;
}

.Menu{
    margin-right: 10%;
}